/* Styles for screens with a maximum width of 450px */
@media (max-width: 450px) {

    /* Styles for the main container */
    #mainContainer {
        flex-direction: column;
        width: 95%;
        min-height: 95%;
        max-height: 95%;
        background-color: hsl(0, 0%, 100%);;
    }

    /* Styles for the image container */
    #imageContainer {
        background-image: url(./images/image-product-mobile.jpg);
        flex: none;
        width: 100%;
        height: 40vh;
        border-radius: 10px 10px 0 0;
    }

    /* Styles for the main text within the text container */
    #textContainer .mainText {
        width: 15ch;
    }

    /* Styles for paragraphs within the text container */
    #textContainer p {
        width: 33ch;
        line-height: normal;
    }
}